<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Create Item</h1>

 
    <form id="submitForm">
        <input type="input" name="title"><br/>
        <input type="number" name="price"><br/>
        <select name="brand"> 
            <option value="Telefoner">Telefoner</option>
            <option value="Biler">Biler</option>
            <option value="Kjoler">Kjoler</option>
            <option value="Bluser">Bluser</option>
        </select>

        <input type="file" name="thumbnail"><br/>
        <button type="submit">Opret varer</button>
    </form>

    <form id="delete">
        <input value="delete" type="submit"/>
    </form>


    <button id="refresh"> refresh</button>
    <table id="list"></table>
   
</body>
</html>