<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Luksus Genbrug</h1>

<button id="logout">logout</button>
    
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light"><a href="/login.html" class="btn"> Login</a></div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light"> <a href="/register.html" class="btn"> Register</a></div>
    </div>
  
  <h1>Opret Varer</h1>
  <form id="submitForm">
     Title: <input type= "input" name="title"><br/>
     Price: <input type= "number" name="price"><br/>
     Brand: <select name="brand">
          <option value="Telefoner">Telefoner</option>
          <option value="Biler">Biler</option>
          <option value="Kjoler">Kjoler</option>
          <option value="Bluser">Bluser</option>
      </select> 

    File:  <input type="file" name="thumbnail"><br/>
    Submit:  <button type="submit">Opret varer</button>
  </form>
      
    Refresh:<button id="refresh">refresh</button>
    <table id="list">

    </table>
    <script src="index.js"></script>
</body>
</html>