<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Luksus Genbrug</h1>

<button id="logout">logout</button>
    
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light"> <a href="/update.html" class="btn"> Opdater bruger</a></div>
    </div>

    <form id="deleteuser">
      <input value="delete"type="submit">
    </form>
  
  <h2>Opret Varer</h2>
  <form id="submitForm">
     Title: <input type= "input" name="title"><br/>
     Price: <input type= "number" name="price"><br/>
     Brand: <select name="brand">
          <option value="Telefoner">Telefoner</option>
          <option value="Biler">Biler</option>
          <option value="Kjoler">Kjoler</option>
          <option value="Bluser">Bluser</option>
      </select> 

    File:  <input type="file" name="thumbnail"><br/>
    Submit:  <button type="submit">Opret varer</button>
  </form>
      
    Refresh:<button id="refresh">refresh</button>
    <table id="list">

    </table>

    <link rel="stylesheet" href="index.css">

    <script src="index.js"></script>
</body>
</html>